{% extends "layout.html" %} 

{% block title %}
    Recommendations
{% endblock %}

{% block currenttab %}

    <a class="navbar-item has-text-white" href="/">
        About me
    </a>

    <a class="navbar-item has-text-white" href="/projects">
        Projects
    </a>

    <a class="navbar-item has-text-white" href="/experience">
        Experience
    </a>

    <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link has-text-white">
            More
        </a>

        <div class="navbar-dropdown">
            <a class="navbar-item" href="/resume">
                Resume and certifications
            </a>
            <a class="navbar-item is-tab is-active" href="/recommendations">
                Recommendations
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="/whygimilov">
                Why Gimilov?
            </a>
        </div>
    </div>

{% endblock %}

{% block main %} 

    <section class="hero hero-background-recommendations is-fullheight">
        <div class="hero-body">
            <div class="">
                <p class="title has-text-white" style="margin-top: 4.5em; font-size: 5.5vw;">
                    Recommendations
                </p>
            </div>
        </div>
    </section>
    <section class="section hero-background-recommendations1">
        
        <div class="tile is-ancestor">
            <div class="tile is-6 is-vertical is-parent">
                <div class="tile is-child box has-background-black-bis has-text-white">

                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="static/claus.jpg">
                            </p>
                        </figure>
                        <div class="media-content" style="margin-right: 2em;">
                            <div class="content">
                                <p>
                                    <strong class="has-text-white">Claus Ahm</strong> | <small class="is-size-7 has-text-grey-light">Associate Professor at Aarhus BSS - Aarhus University</small>
                                    <br>
                                    <p style="margin-bottom: 2.5em;">To Whom It May Concern,</p>
                                    <p class="has-text-justified">I know Milosz Bator in his capacity as Student Instructor assisting me in both Financial Accounting and Management Accounting tutorials during 2 semesters. Not only he had to be appointed out of many applicants, but he must display many other skills. Time management, creativity, multitasking, and critical thinking are only the tip of the ice-berg of the skills he possesses.</p>
                                    <p class="has-text-justified">Milosz is a highly qualified and trained student of business economics, who has a natu-ral gift for teaching. His capability for communicating complex subjects in a simple a straightforward manner to the students is outstanding and the feedback from the course he has obtained has been very good. Moreover, I appreciate Milosz’s can-do atti-tude and the way he gets inspired by challenges as an approach to improve himself.</p>
                                    <p class="has-text-justified" style="margin-bottom: 2.5em;">Milosz has a very pleasant and easy-going nature and it’s a great privilege to work with him. Therefore, with a clear conscience, I can recommend him for his future employer.</p>
                                    <p>Kind regards,</p>
                                    <p>Claus Ahm</p>
                                    <p style="margin-top: -1em;">Assistant Professor</p>
                                </p>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-item">
                                    <a class="button is-rounded is-fullwidth is-dark" target="_blank" href="https://www.linkedin.cn/in/clausahm/">
                                        <img src="static/LinkedIn.png" width="104" height="40">
                                    </a> 
                                </div>
                            </nav>
                        </div>
                    </article>

                </div>
                <div class="tile is-child box has-background-black-bis has-text-white">

                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="static/LukaszPlaceholder.png">
                            </p>
                        </figure>
                        <div class="media-content" style="margin-right: 2em;">
                            <div class="content">
                                <p>
                                    <strong class="has-text-white">Lukasz Robakowski</strong> | <small class="is-size-7 has-text-grey-light">Owner of Lukasz Robakowski Ad Services</small>
                                    <br>
                                    <p style="margin-bottom: 2.5em;">To Whom It May Concern,</p>
                                    <p class="has-text-justified">I am Łukasz Robakowski – the founder of Łukasz Robakowski Ad Services. I have known Milosz for 5 years and I am happy to recommend him for the student worker position in your company.</p>
                                    <p class="has-text-justified">When I was looking for someone to help me organize various data going through my company - Milosz was my first thought. He has already earned my trust before and I have always considered him as a clever person. However, it is working with him that made me realise that I have made a great choice.</p>
                                    <p class="has-text-justified">Most of all, I perceive Milosz as a reliable person that is not afraid to ask questions. Each task that I entrust to him is accomplished accurately and well. Nevertheless, it is very important to outline his positive attitude and the joy he brings with himself to the workplace. He is kind, cheerful, and hard working.</p>
                                    <p class="has-text-justified" style="margin-bottom: 2.5em;">In conclusion, I believe that Milosz will be a beneficial choice for your company.</p>
                                    <p>Best regards,</p>
                                    <p>Lukasz Robakowski</p>
                                    <p style="margin-top: -1em;">Owner of Lukasz Robakowski Ad Services</p>
                                </p>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-item">
                                    <a class="button is-rounded is-fullwidth is-dark" target="_blank" href="mailto:lrobakowski@hotmail.com?subject=Contact about Milosz Bator">
                                        <img src="static/Envelope.png" width="95" height="37">
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </article>

                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box has-background-black-bis has-text-white">

                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="static/dariusz.jpg">
                            </p>
                        </figure>
                        <div class="media-content" style="margin-right: 2em;">
                            <div class="content">
                                <p>
                                    <strong class="has-text-white">Dariusz Karas</strong> | <small class="is-size-7 has-text-grey-light">Senior SDET@Splunk</small>
                                    <br>
                                    <p style="margin-bottom: 2.5em;">Dear Hiring Manager,</p>
                                    <p class="has-text-justified">It is my pleasure to strongly recommend Milosz for the student position in your company. I am Dariusz Karas, a Senior Software Development Engineer in Test at Splunk Inc. I have 7 years of experience working in many companies as a Quality Assurance engineer focusing on automation, con-tinuous integration and delivery. I have seen many young professionals come and go. Milosz is one of many individuals I have been mentoring and I can honestly stipulate that he uniquely stands out with pas-sion about learning and exploring new areas with penchant and patience. We spend many hours discuss-ing many aspects of professional work and how to achieve various goals in professional IT industry. </p>
                                    <p class="has-text-justified">Undoubtedly, I thoroughly enjoyed my time spend with Milosz and came to know him as a truly valuable person. He is dependable, frank, hardworking and, what is very important, he is always willing to ask questions. Moreover, he addresses issues both strategically and confidently when it comes to problem solving. In a nutshell, Milosz is inspired by challenges and never intimidated by them.</p>
                                    <p class="has-text-justified">Our acquaintanceship has begun in the year 2020, when Milosz was looking for someone to guide him throughout his self-education in computer programming. Since then, I have observed Milosz’s driving determination in self-improvement. What immediately drew my attention was how quickly he assimilates new knowledge and how stubbornly he pursues his goals. Milosz at a quick pace understood the basics of Python and SQL via making small projects on JetBrains Academy. In the meantime, he is sharpening his problem-solving skills on Codewars where he becomes more playful with Python.</p>
                                    <p class="has-text-justified">What is important to note, however, is the fact that Milosz is also a highly performing student at Aarhus University where he holds the positions of student teacher of financial accounting and management ac-counting. Even though I may not be the perfect person to speak of his academic achievements, I believe it takes a lot of time to possess accomplishments of that level. Nevertheless, he still can find a time to broaden his horizons in a field that he is passionate about.</p>
                                    <p class="has-text-justified">The truth is, I also self-taught most of the skills I possess now. I believe it is crucial for a great worker to have such an attitude towards self-cultivation. Therefore, I do what I can to help Milosz by suggesting many reliable, high quality sources of knowledge, certifications, or platforms.</p>
                                    <p class="has-text-justified">If you need more information, or specific examples, please do not hesitate to contact me by email at dariusz.karas@gmail.com. As a recommendation letter, I could not provide the complete picture of Mi-losz’s abilities. Hence, I see no issue to further elaborate on my time spent with him.</p>
                                    <p>Sincerely,</p>
                                    <p>Dariusz Karas</p>
                                    <p style="margin-top: -1em;">Senior SDET Splunk Inc.</p>
                                </p>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-item">
                                    <a class="button is-rounded is-fullwidth is-dark" target="_blank" href="https://www.linkedin.com/in/dariusz-kara%C5%9B-12839394/?originalSubdomain=pl">
                                        <img src="static/LinkedIn.png" width="104" height="40">
                                    </a> 
                                </div>
                            </nav>
                        </div>
                    </article>
                    
                </div>
            </div>
        </div>

    </section>
{% endblock %}